.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.form input {
  width: 40%;
}

.form label {
  margin-top: 1rem
}

.form select {
  width: 10%;
}

.form textarea {
  margin-top: 1rem;
  height: 10rem;
  width: 40%
}