body{
    font-size: 16px;
}
h1{
   font-size: 65px;
   color: orange;
   font-family: sans-serif;
   font-style:inherit;
}
p{
   font-weight: 600;
   font-size: 3em;
   font-style: italic;
   text-decoration:underline;
}
ul{
   background-color: bisque;
   line-height: 32px;
   text-align: center;
}
.requisito4{
   background-color: aquamarine;
}
#linha1 {
   background-color: yellow;
}
#linha2{
   background-color: red;
}
#linha3{
   background-color: brown;
}