html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid
}

header nav ul{
  display: flex;
}

header nav ul li {
  margin-left: 15px;
  list-style: none
}

@media screen and (max-width: 500px) {
  header {
    justify-content: center;
  }

  header nav ul{
    display: none;
  }
}

@media screen and (min-width: 700px) {
  
}