.more-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infos-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.location-image {
  height: 15rem;
  width: 15rem;
}

.location-images-container {
}